<tr>
  <td class="stat outline"><%= hour.number %></td>
  <td class="stat outline"><%= number_with_delimiter(hour.points, :delimiter => ',') %></td>
  <td class="stat outline"><%= hour.place.ordinalize %></td>
</tr>
