<h1><%= @contest.theme %></h1>
<h2><%= @contest.year %></h2>

<table>
  <tbody>
    <tr>
      <td class="stat outline">HOUR</td>
      <td class="medium_stat outline">CUMULATIVE POINTS</td>
      <td class="medium_stat outline">TEAM STANDING</td>
    </tr>

    <% @contest.hours.order(number: :asc).each do |hour| %>
      <%= render partial: "hour", locals: { hour: hour } %>
    <% end %>

  </tbody>
</table>
