<div class="bio-section">
  <div class="pic" id="tim_mckay"></div>
  <div class="bio">Team Captain! Tim Mckay. Puts the TRIV in TRIVIA!</div>
</div>
<div class="bio-section">
  <div class="pic" id="marianne_mckay"></div>
  <div class="bio">Mrs. Captain! Marianne McKay. Puts the MOO in MOOSE!</div>
</div>
<div class="bio-section">
  <div class="pic" id="ryan_mckay"></div>
  <div class="bio">Ryan McKay</div>
</div>
<div class="bio-section">
  <div class="pic" id="adam_mckay"></div>
  <div class="bio">Adam McKay</div>
</div>
<div class="bio-section">
  <div class="pic" id="jd_grace"></div>
  <div class="bio">JD Grace</div>
</div>
<div class="bio-section">
  <div class="pic" id="barb_grace"></div>
  <div class="bio">Barb Grace</div>
</div>
<div class="bio-section">
  <div class="pic" id="jeff_mortensen"></div>
  <div class="bio">Jeff Mortensen</div>
</div>
<div class="bio-section">
  <div class="pic" id="rachel_mortensen"></div>
  <div class="bio">Rachel Mortensen</div>
</div>
<div class="bio-section">
  <div class="pic" id="greg_davis"></div>
  <div class="bio">Greg Davis</div>
</div>
<div class="bio-section">
  <div class="pic" id="luke_berg"></div>
  <div class="bio">Luke Berg</div>
</div>
<div class="bio-section">
  <div class="pic" id="cassie_mckay"></div>
  <div class="bio">Cassie McKay</div>
</div>
<div class="bio-section">
  <div class="pic" id="evelyn_mckay"></div>
  <div class="bio">Evelyn McKay</div>
</div>
<div class="bio-section">
  <div class="pic" id="dustin_polzin"></div>
  <div class="bio">Dustin Polzin</div>
</div>
<div class="bio-section">
  <div class="pic" id="garett_arrowood"></div>
  <div class="bio">Garett Arrowood</div>
</div>
<div class="bio-section">
  <div class="pic" id="josh_chojnaski"></div>
  <div class="bio">Josh Chojnaski</div>
</div>
<div class="bio-section">
  <div class="pic" id="dave_faber"></div>
  <div class="bio">Dave Faber</div>
</div>
<div class="bio-section">
  <div class="pic" id="steven_hessler"></div>
  <div class="bio">Steven Hessler</div>
</div>
<div class="bio-section">
  <div class="pic" id="sorana_popa"></div>
  <div class="bio">Sorana Popa</div>
</div>
<div class="bio-section">
  <div class="pic" id="david_trautschold"></div>
  <div class="bio">David Trautschold</div>
</div>
<div class="bio-section">
  <div class="pic" id="king_tut"></div>
  <div class="bio">King Tut</div>
</div>

