<table>
  <tbody>
    <tr>
      <td class="history_year outline">2016</td>
      <td class="history_name outline">Whatsamatta-U - Major Tom's Fish Frey</td>
      <td class="history_place outline">30th</td>
    </tr>

    <tr>
      <td class="history_year outline">2015</td>
      <td class="history_name outline">Whatsamatta-U - Live Long and Prosper</td>
      <td class="history_place outline">21st</td>
    </tr>

    <tr>
      <td class="history_year outline">2014</td>
      <td class="history_name outline">Whatsamatta-U - Beyond the Nakedness</td>
      <td class="history_place outline">19th</td>
    </tr>

    <tr>
      <td class="history_year outline">2013</td>
      <td class="history_name outline">Whatsamatta-U - @20</td>
      <td class="history_place outline">17th</td>
    </tr>

    <tr>
      <td class="history_year outline">2012</td>
      <td class="history_name outline">Whatsamatta-U - Death By Misadventure</td>
      <td class="history_place outline">4th</td>
    </tr>

    <tr>
      <td class="history_year outline">2011</td>
      <td class="history_name outline">Whatsamatta-U - 35% Beef 65% Meat Dress</td>
      <td class="history_place outline">8th</td>
    </tr>

    <tr>
      <td class="history_year outline">2010</td>
      <td class="history_name outline">Whatsamatta-U - Toyota Gimme-A-Brake?</td>
      <td class="history_place outline">21st</td>
    </tr>

    <tr>
      <td class="history_year outline">2009</td>
      <td class="history_name outline">Whatsamatta-U - Kellogg's Frosted Phelps</td>
      <td class="history_place outline">24th</td>
    </tr>

    <tr>
      <td class="history_year outline">2008</td>
      <td class="history_name outline">Whatsamatta-U - Client Number 9...#9...#9...#9...#9</td>
      <td class="history_place outline">24th</td>
    </tr>
     
    <tr>
      <td class="history_year outline">2007</td>
      <td class="history_name outline">Whatsamatta-U - Knight's of Triviality</td>
      <td class="history_place outline">21st</td>
    </tr>

    <tr>
      <td class="history_year outline">2006</td>
      <td class="history_name outline">Whatsamatta-U - Chitty-Cheney BANG BANG</td>
      <td class="history_place outline">22nd</td>
    </tr>

    <tr>
      <td class="history_year outline">2005</td>
      <td class="history_name outline">Whatsamatta-U - A Triviashamockery</td>
      <td class="history_place outline">29th</td>
    </tr>

    <tr>
      <td class="history_year outline">2004</td>
      <td class="history_name outline">Whatsamatta-U - Audrey's Marsh Madness</td>
      <td class="history_place outline">14th</td>
    </tr>

    <tr>
      <td class="history_year outline">2003</td>
      <td class="history_name outline">Whatsamatta-U - Who Are Two</td>
      <td class="history_place outline">34th</td>
    </tr>

    <tr>
      <td class="history_year outline">2002</td>
      <td class="history_name outline">Whatsamatta-U - My Guitar Weeps For U</td>
      <td class="history_place outline">29th</td>
    </tr>

    <tr>
      <td class="history_year outline">2001</td>
      <td class="history_name outline">Whatsamatta-U - I Beg Your Pardon, Too</td>
      <td class="history_place outline">21st</td>
    </tr>

    <tr>
      <td class="history_year outline">2000</td>
      <td class="history_name outline">Whatsamatta-U - Catch-22</td>
      <td class="history_place outline">18th</td>
    </tr>

    <tr>
      <td class="history_year outline">1999</td>
      <td class="history_name outline">Whatsamatta-U - Heads We Win, Tails You Lose!</td>
      <td class="history_place outline">29th</td>
    </tr>

    <tr>
      <td class="history_year outline">1998</td>
      <td class="history_name outline">Whatsamatta-U - Harry, This Cubs for You</td>
      <td class="history_place outline">32nd</td>
    </tr>

    <tr>
      <td class="history_year outline">1997</td>
      <td class="history_name outline">Whatsamatta-U - Got Those Oreo Blues?</td>
      <td class="history_place outline">48th</td>
    </tr>

    <tr>
      <td class="history_year outline">1996</td>
      <td class="history_name outline">Whatsamatta-U - Dr. Ben Casey Code Blue</td>
      <td class="history_place outline">52nd</td>
    </tr>

    <tr>
      <td class="history_year outline">1995</td>
      <td class="history_name outline">Whatsamatta-U - Your M&M is Blue!?</td>
      <td class="history_place outline">99th</td>
    </tr>

    <tr>
      <td class="history_year outline">1994</td>
      <td class="history_name outline">Whatsamatta-U</td>
      <td class="history_place outline">118th</td>
    </tr>

    <tr>
      <td class="history_year outline">1993</td>
      <td class="history_name outline">Got Me By the Tail</td>
      <td class="history_place outline">264th</td>
    </tr>
    
  </tbody>
</table>