<div class="bio-section">
  <div class="pic" id="tim_mckay"></div>
  <div class="bio">
    <p>Team Captain! Puts the TRIV in TRIVIA!</p>
  </div>
</div>
<div class="bio-section">
  <div class="pic" id="marianne_mckay"></div>
  <div class="bio">
     <p>Mrs. Captain! Puts the MOO in MOOSE!</p>
  </div>
</div>
<div class="bio-section">
  <div class="pic" id="ryan_mckay"></div>
  <div class="bio">
    <p>Beast.</p>
  </div>
</div>
<div class="bio-section">
  <div class="pic" id="adam_mckay"></div>
  <div class="bio">
    <p>Beard.</p>
  </div>
</div>
<div class="bio-section">
  <div class="pic" id="jd_grace"></div>
  <div class="bio"></div>
</div>
<div class="bio-section">
  <div class="pic" id="barb_grace"></div>
  <div class="bio"></div>
</div>
<div class="bio-section">
  <div class="pic" id="jeff_mortensen"></div>
  <div class="bio"></div>
</div>
<div class="bio-section">
  <div class="pic" id="rachel_mortensen"></div>
  <div class="bio"></div>
</div>
<div class="bio-section">
  <div class="pic" id="greg_davis"></div>
  <div class="bio"></div>
</div>
<div class="bio-section">
  <div class="pic" id="luke_berg"></div>
  <div class="bio"></div>
</div>
<div class="bio-section">
  <div class="pic" id="evelyn_mckay"></div>
  <div class="bio"></div>
</div>
<div class="bio-section">
  <div class="pic" id="king_tut"></div>
  <div class="bio"></div>
</div>

