<div class="col-sm-6 col-xs-12"></div>
  <div class="bio-section">
    <div class="pic" id="tim_mckay"></div>
    <p class="bio">Team Captain! Puts the TRIV in TRIVIA!</p>
  </div>
  <div class="bio-section">
    <div class="pic" id="marianne_mckay"></div>
    <p class="bio">Mrs. Captain! Puts the MOO in MOOSE!</p>
  </div>
  <div class="bio-section">
    <div class="pic" id="ryan_mckay"></div>
    <p class="bio">Beast.</p>
  </div>
  <div class="bio-section">
    <div class="pic" id="adam_mckay"></div>
    <p class="bio">Beard.</p>
  </div>
</div>
