<tr>
  <td class="stat outline"><%= result.year %></td>
  <td class="team_name outline"><%= result.team_name %></td>
  <td class="stat outline"><%= result.place.ordinalize %></td>
  <td class="stat outline"><%= number_with_delimiter(result.points, :delimiter => ',') %></td>
</tr>
