<tr>
  <td class="result_stat outline"><%= result.year %></td>
  <td class="team_name outline"><%= result.team_name %></td>
  <td class="result_stat outline"><%= result.place %></td>
  <td class="result_stat outline"><%= result.points %></td>
</tr>
