<table>
  <tbody>
    <tr>
      <td class="stat outline">YEAR</td>
      <td class="long_stat outline">TEAM NAME</td>
      <td class="stat outline">PLACE</td>
      <td class="stat outline">POINTS</td>
    </tr>

    <% @results.descending.each do |result| %>
      <%= render partial: "row", locals: { result: result } %>
    <% end %>

  </tbody>
</table>
