/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets/
 */

html {
  text-align: center;
}

.header {
  font-size: 45px;
  margin-bottom: 40px;
}

.bullwinkle {
  background-image: url('BullwinkleMain.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 460px;
  max-height: 460px;
  min-width: 695px;
  max-width: 695px;
  display: inline-block;
}

/*///// PHOTOS ////*/

.pic {
  background-repeat: no-repeat;
  background-position: center;
  height: 275px;
}

.bio {
  height: 50px;
}

.bio-section {
  display: inline-block;
  min-width: 49%;
  max-width: 49%;
  height: 325px;
  vertical-align: top;
}

#tim_mckay {
  background-image: url('TimMcKay.jpg');
}

#marianne_mckay {
  background-image: url('MarianneMcKay.jpg');
}

#ryan_mckay {
  background-image: url('RyanMcKay.jpg');
}

#adam_mckay {
  background-image: url('AdamMcKay.jpg');
}

#barb_grace {
  background-image: url('BarbGrace.jpg');
}

#jd_grace {
  background-image: url('JDGrace.jpg');
}

#evelyn_mckay {
  background-image: url('EvelynMcKay.jpg');
}

#greg_davis {
  background-image: url('GregDavis.jpg');
}

#jeff_mortensen {
  background-image: url('JeffMortensen.jpg');
}

#king_tut {
  background-image: url('KingTut.jpg');
}

#luke_berg {
  background-image: url('LukeBerg.jpg');
}

#rachel_mortensen {
  background-image: url('RachelMortensen.jpg');
}

#trivia_headquarters {
  background-image: url('TriviaHeadquarters.jpg');
}

/*///// HISTORY TABLE /////*/

td.outline {
  height: 40px;
  padding: 5px;
  border-style: groove;
  border-width: medium;
}

td.history_year {
  width: 70px;
}

td.history_name { 
  width: 600px;
}

td.history_place {
  width: 70px;
}

/*///// RESPONSIVENESS /////*/

@media only screen and (max-width: 767px) {

  .bullwinkle {
    margin-top: 20px;
    background-image: url('BullwinkleSkinny.jpg');
    min-width: 100%;
    max-width: 100%;
  }

  .bio-section {
    min-width: 99%;
    max-width: 99%;
  }

}