<!DOCTYPE html>
<html>
<head>
  <title>TRIVIA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="header">WHATSAMATTA-U</h2>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-xs-12 center">
        <a class="btn" href="/">Home Page</a><br>
        <a class="btn" href="/team-members">Team Members 2016</a><br>
        <a class="btn" href="/team-headquarters">Team Headquarters</a><br>
        <a class="btn" href="/team-history">Team History</a><br>
        <a class="btn" href="/gallery/2006">2006 Gallery</a><br>
        <a class="btn" href="/gallery/2014">2014 Gallery</a><br>
        <a class="btn" href="/gallery/2015">2015 Gallery</a><br>
        <a class="btn" href="/gallery/2016">2016 Gallery</a><br>
        <a class="btn" href="/gallery/head_on_stick">Head on a Stick Gallery</a><br>
        <a class="btn" target="_blank" href="http://www.90fmtrivia.org">Main Trivia Page</a><br>
      </div>

      <div class="col-sm-9 col-xs-12">
        <%= yield %>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="footer pull-right">&copy Whatsamatta-You?</p>
      </div>
    </div>
  </div>

</body>
</html>
